{% extends "Layout.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/form.css') }}">
{% endblock %}
{% block navbar %}
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar siemens-blue w3-card w3-left-align w3-large">
    {% if online %}
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large siemens-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('get_main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white">SMB Station</a>
    {% if running %}
      <a href="{{ url_for('get_components_online') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Components</a>
      <a href="{{ url_for('get_online_plcmaping') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">PLC Mapping</a>
      <a href="{{ url_for('get_simulation_online') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Simulation</a>
    {% endif %}
      {% else %}
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large siemens-blue" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('get_main_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <a class="w3-bar-item w3-button w3-hide-small w3-padding-large  w3-white">SMB Station</a>
    {% if running %}
      <a href="{{ url_for('get_components') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Components</a>
      <a href="{{ url_for('get_SMB_config') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Simulation Configuration</a>
      <a href="{{ url_for('get_simulation') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Simulation</a>
    {% endif %}
      {%endif%}
    <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white bar-right">Logout</a>
  </div>
</div>
{% endblock %}
{% block body %}
<!-- First Grid -->
<div id="overlay" onclick="off('column')">
</div>
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
     {% if running %}
     <h1>SMB configuration</h1>
     {% else %}
     <h1>Create initial SMB configuration</h1>
     {% endif %}
      <div class="zones">
      {% for key, value in stationInfo.items() %}
        {% if value %}
            <div class="zoneInfo">
            <h3>Initial Zone {{key}}</h3>
            {% for info in value %}
                <div class="columnInfo">
                 {% if not running %}
                    <button id="deleteCol" onclick="deleteColumn('{{key}}', '{{loop.index0}}')">&cross;</button>
                 {% endif %}
                {% for key2, value2 in info.items() %}
                    <span>{{key2}}: {{value2}}</span><br>
                {% endfor %}
                </div>
            {% endfor %}
            </div>
        {% endif %}
      {% endfor %}
      </div>
      {% if not running %}
      <button class="w3-button siemens-blue w3-padding-large w3-large w3-margin-top w3-round" onclick="on('column')">Add column</button>
      {% endif %}
      {% if readyNext and not running %}
      <a href="{% if online %}{{url_for('get_components_online')}}{% else %}{{url_for('get_components')}}{%endif%}" class="w3-button siemens-blue w3-padding-large w3-large w3-margin-top w3-round">Continue</a>
      {% endif %}
    </div>
</div>
<div id="column" class="overlayform">
        <button class="cross" onclick="off('column')">&cross;</button>
        <form action="{% if online %}{{url_for('post_add_column_online')}}{% else %}{{url_for('post_add_column')}}{%endif%}" method="post" class="form-style-1">
            <label for="zone">
                Zone <i class="fa fa-question-circle popup" onmouseenter="showPopup('zoneExp')" onmouseleave="showPopup('zoneExp')">
                    <span class="popuptext" id="zoneExp">
                        zone 1 - after desorbent<br>
                        zone 2 - after extract<br>
                        zone 3 - after feed<br>
                        zone 4 - after raffinate<br>
                    </span>
                </i>
            </label>
            <select name="zone" id="zone">
              <option value="1" {% if formInfo and formInfo['zone'] == 1 %}selected{% endif %}>1</option>
              <option value="2" {% if formInfo and formInfo['zone'] == 2 %}selected{% endif %}>2</option>
              <option value="3" {% if formInfo and formInfo['zone'] == 3 %}selected{% endif %}>3</option>
              <option value="4" {% if formInfo and formInfo['zone'] == 4 %}selected{% endif %}>4</option>
              <option value="5" {% if formInfo and formInfo['zone'] == 5 %}selected{% endif %}>All</option>
            </select><br><br>
            <label for="isotherm">
                Isotherm for EDM model
            </label>
            <select name="isotherm" id="isotherm">
              <option value="Lin" {% if formInfo and formInfo['isotherm'] == Lin %}selected{% endif %}>Linear</option>
              <option value="Nonlin" {% if formInfo and formInfo['isotherm'] == Nonlin %}selected{% endif %}>Noncompetetive Langmuir</option>
            </select><br><br>
            <label for="colLength">Column length [mm]</label>
            <input type="number" id="colLength" name="colLength" min="0.01" step="any" required><br><br>
            <label for="colDiameter">Column diameter [mm]</label>
            <input type="number" id="colDiameter" name="colDiameter" min="0.01" step="any" required><br><br>
            <label for="porosity">Porosity</label>
            <input type="number" id="porosity" name="porosity" min="0.01" max="1" step="any" required><br><br>
            <label for="deadVol">
                Dead volume <i class="fa fa-question-circle popup" onmouseenter="showPopup('deadVolExp')" onmouseleave="showPopup('deadVolExp')">
                    <span class="popuptext" id="deadVolExp">
                        adds a "Tube" before this Column
                    </span>
                </i>
            </label>
            <input type="number" id="deadVol" name="deadVol" min="0.01" step="any" required><br><br>
            <input type="submit" value="Add" id="btn" class="w3-button siemens-blue w3-padding-large w3-large w3-margin-top w3-round"/>
        </form>
    </div>
<script type="text/javascript">
    {% if formInfo %}
        {% if formInfo['colLength'] %}
            document.getElementById("colLength").value = {{formInfo['colLength']}}
        {% endif %}
        {% if formInfo['colDiameter'] %}
            document.getElementById("colDiameter").value = {{formInfo['colDiameter']}}
        {% endif %}
        {% if formInfo['porosity'] %}
            document.getElementById("porosity").value = {{formInfo['porosity']}}
        {% endif %}
        {% if formInfo['deadVol'] %}
            document.getElementById("deadVol").value = {{formInfo['deadVol']}}
        {% endif %}
    {% endif %}
</script>
{% endblock %}